@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

button,
a {
  cursor: pointer;
}

@layer utilities {
  .nav-link {
    @apply text-zinc-500 hover:text-zinc-800 transition-colors;
  }
  .nav-link.--active {
    @apply text-zinc-800;
  }
}
